.pizza{
    position: relative;
    width: 70%;
    border-radius: 10%;
    top: 0;
    left: 0;
}

.welcome{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    z-index: 1;
    border-radius: 5%;
}

.none{
    display: none;
}